{% extends "global/Page.html" %}
{% block title %}GENERAL INSTRUCTIONS{% endblock %}
{% block content %}
<p>Welcome to the ECON 3310 Experiment Platform.</p>
<p>10 rounds. Each round you start with <b>100</b> points and choose x to invest.</p>
<ul>
  <li>Heads (50%): wealth = <b>100 − x + 2.5x</b></li>
  <li>Tails (50%): wealth = <b>100 − x</b></li>
</ul>
<p>A paying round <b>R</b> is randomly chosen at the start (hidden) and revealed at the end. Your payoff equals your WEALTH in round <b>R</b>.</p>
{{ next_button }}
{% endblock %}
